* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Pacifico;
}

* :focus {
    outline: none;
    border: none;
}

a {
    color: unset;
}

header {
    background-image: url('../assets/images/hero.png');
    background-position: center;
    background-size: cover;
    height: 75vh;
}


/* -------------------------------------------- */


/*  Header Styles   */


/*   Navbar Styles  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 25px 0px;
}

nav .nav-item {
    color: #fff;
}

nav div.container {
    display: flex;
}

nav div.nav-item.app {
    font-size: 1.2rem;
    font-weight: 800;
}

nav div.nav-item {
    font-size: 1.2rem;
    font-weight: 200;
}

header div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    width: 80%;
    margin: 0px auto;
}

header img.logo {
    width: 300px;
}

header h1 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 400;
}


/* --------------------------------------------- */


/*   Header Content */

div.search-box div {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0px 50px;
}

header div.search-box {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    border-radius: 10px;
}

header div.search-box div.select i {
    color: #F57082;
}

header div.search-box div.input {
    color: #828282b7;
}

header div.search-box div.seperator {
    height: 50%;
    background-color: #8282829b;
    width: 2px;
}

header div.search-box div.input {
    flex-grow: 80;
}

header div.search-box div.input input {
    width: 100%;
}